.collapsed-enter {
  max-height: 0;
  min-height: 0;
  opacity: 0;
}
.collapsed-enter-active {
  max-height: 100px;
  min-height: 100px;
  opacity: 1;
  transition: max-height 1s, min-height 1s, opacity 1s;
}
.collapsed-exit {
  opacity: 1;
  max-height: 100px;
  min-height: 100px;
}
.collapsed-exit-active {
  max-height: 0;
  min-height: 0;
  opacity: 0;
  transition: max-height 1s, min-height 1s, opacity 1s;
}

.expanded-enter {
  max-height: 0;
  min-height: 0;
  opacity: 0;
}
.expanded-enter-active {
  max-height: 120px;
  min-height: 120px;
  opacity: 1;
  transition: max-height 1s, min-height 1s, opacity 1s;
}
.expanded-exit {
  max-height: 120px;
  min-height: 120px;
  opacity: 1;
}
.expanded-exit-active {
  max-height: 0;
  min-height: 0;
  opacity: 0;
  transition: max-height 1s, min-height 1s, opacity 1s;
}

.collapsed {
  background-color: red;
}

.expanded {
  background-color: green;
}
